<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button data-target="#navbar-links" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Brand</a>
        </div>
        
        <div class="navbar-collapse collapse" id="navbar-links">
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-lang">
                    <a data-ng-if="selectedLanguage === 'est'" data-ng-click="languageSelectClick()" id="languageSelectClose"><span>ET <i class="fa fa-caret-down"></i></span></a>
                    <a data-ng-if="selectedLanguage === 'rus'" data-ng-click="languageSelectClick()" id="languageSelectClose"><span>RU <i class="fa fa-caret-down"></i></span></a>
                    <a data-ng-if="selectedLanguage === 'eng'" data-ng-click="languageSelectClick()" id="languageSelectClose"><span>EN <i class="fa fa-caret-down"></i></span></a>
                    <ul data-ng-show="showLanguageSelection" data-click-outside="closeLanguageSelection()" data-outside-if-not="languageSelectClose" id="languageSelectOpen" class="navbar-submenu">
                        <li>
                            <a data-ng-if="selectedLanguage === 'est'" data-ng-click="setLanguage('est')"><span>ET <i class="fa fa-caret-up"></i></span></a>
                            <a data-ng-if="selectedLanguage === 'rus'" data-ng-click="setLanguage('rus')"><span>RU <i class="fa fa-caret-up"></i></span></a>
                            <a data-ng-if="selectedLanguage === 'eng'" data-ng-click="setLanguage('eng')"><span>EN <i class="fa fa-caret-up"></i></span></a>
                        </li>
                        <li data-ng-if="selectedLanguage !== 'est'">
                            <a data-ng-click="setLanguage('est')"><span>ET</span></a>
                        </li>
                        <li data-ng-if="selectedLanguage !== 'rus'">
                            <a data-ng-click="setLanguage('rus')"><span>RU</span></a>
                        </li>
                        <li data-ng-if="selectedLanguage !== 'eng'">
                            <a data-ng-click="setLanguage('eng')"><span>EN</span></a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-lock"></i> Login</a></li>
            </ul>
            <div role="search" class="navbar-form" id="search-form-main">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>