.navbar-form {
    
    .form-group {display: inline}
}

.navbar-form {
    
    .input-group {display: table}
    
}

.navbar {
    
    .navbar-form {

        .input-group {

            .form-control {width: 100%};
            
            .input-group-btn {width: 1%}
        }
    }
    
}

.navbar-nav {margin-left: 20px;
    
    .navbar-lang {
        
        > a {width: 90px; padding-bottom: 18.5px; 
             
             > span {padding-bottom: 5px}
        
        }
        
        a {padding-left: 10px; padding-right: 10px;
            
            span {display: inline-block; border-bottom: 1px solid #444;
            
                .fa {margin-left: 25px}
            }
        }
        
        
    }
    
    .navbar-submenu {position: absolute; top: 12.5px; padding: 12px 0; @include border-radius(3px); @include box-shadow(0, 0, 2px, 0, #999); background: $navbar-light-bg; list-style: none;
        
        > li:first-child {
            
            a {margin-bottom: 10px;
                
               span {display: inline-block; padding-bottom: 5px; border-bottom: 1px solid #777;
                
                    .fa {margin-left: 25px}
                    
                }
            }
        }
                     
        a {display: inline-block; color: $font-color-grey}

    }
}