$font-color-grey: #777;

$border-radius-base: 0;

$input-bg: none;

$navbar-height: 70px !default;

$navbar-border-radius: 0;

$navbar-default-color: #AAA;

$navbar-default-bg: #222 !default;

$navbar-light-bg: #444;